<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/styleComikazo.css" th:href="@{/css/styleComikazo.css}">
    <title>COMIKAZOS!</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/header::header}"></header>
    <main class="py-5">
            <!-- Alert para error en la eliminación de comic -->
        <div th:if="${doneComic != null and !doneComic}" class="alert alert-danger alert-dismissible fade show mx-2" role="alert">
            Error al eliminar el cómic.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- Alert para error en la modificación de cómic -->
        <div th:if="${doneEdit != null and !doneEdit}" class="alert alert-danger alert-dismissible fade show mx-2" role="alert">
            Error al modificar el cómic.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- Alert para modificación exitosa de categoría -->
        <div th:if="${doneEdit}" class="alert alert-success alert-dismissible fade show mx-2" role="alert">
            Cómic modificado correctamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        
        <section class="container-fluid px-2 px-md-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <a th:href="@{/ck/comics}" class="btn btn-outline-secondary rounded-pill">
                    <i class="bi bi-arrow-left-short me-1"></i>Ir al catálogo
                </a>
                <div class="dropdown text-center text-md-end my-3 me-2">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i> Administrar
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow">
                        <li><a class="dropdown-item text-success" type="button" data-bs-toggle="modal" data-bs-target="#modComicModal">
                            <i class="bi bi-pencil-square me-2"></i>Editar cómic
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a type="button" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteComic">
                            <i class="bi bi-trash3 me-2"></i>Eliminar cómic
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="row g-5 d-flex align-items-stretch">
                <!-- Columna de la imagen -->
                <div class="col-md-6">
                    <div class="bg-white p-3 shadow-sm rounded-3 w-100 h-100">
                        <img th:src="${comic.url} " 
                            th:alt="${comic.textImg}" 
                            class="img-fluid rounded-2 d-block mx-auto portadaImagen"
                            >
                    </div>
                </div>

                <!-- Columna de detalles -->
                <div class="col-md-6 d-flex">
                    <div class="bg-white p-4 rounded-3 shadow-sm w-100 h-100 d-flex flex-column">
                        <h1 class="mb-3 fw-bold fs-3 fs-md-1" th:text="${comic.name}"></h1>
                        <h4 class="mb-5 fw-bold display-5 text-primary" th:text="${comic.category.name}"></h4>

                        <div class="mb-4">
                            <h3 class="mb-3 text-primary">
                                <i class="bi bi-card-text me-2"></i>Descripción
                            </h3>
                            <p class="lead text-muted" th:text="${comic.syn}"></p>
                        </div>

                        <div class="row row-cols-1 row-cols-sm-2 g-3 mb-4">
                            <div class="col-6">
                                <div class="border-start border-3 border-primary ps-3">
                                    <h5 class="text-uppercase text-black mb-1 fw-bold">Páginas</h5>
                                    <p class="h4 fw-bold" th:text="${comic.pages}"></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="border-start border-3 border-success ps-3">
                                    <h5 class="text-uppercase text-black fw-bold mb-1">Precio</h5>
                                    <!-- Si tiene descuento -->
                                    <div th:if="${comic.hasDiscount()}">
                                        <div class="d-flex flex-column align-items-start">
                                            <div>
                                                <span class="text-muted text-decoration-line-through me-2 h3">
                                                    €<span th:text="${#numbers.formatDecimal(comic.price, 1, 2)}"></span>
                                                </span>
                                                <span class="text-success fw-bold h3">
                                                    €<span th:text="${#numbers.formatDecimal(comic.getDiscount(), 1, 2)}"></span>
                                                </span>
                                            </div>
                                            <span class="badge bg-danger mt-1">-5%</span>
                                        </div>
                                    </div>
                                    <!-- Si NO tiene descuento -->
                                    <div th:unless="${comic.hasDiscount()}">
                                        <span class="text-success fw-bold h3">
                                            €<span th:text="${#numbers.formatDecimal(comic.price, 1, 2)}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-start border-3 border-primary ps-3">
                                <h5 class="text-uppercase text-black fw-bold mb-1">Fecha de lanzamiento</h5>
                                <p class="h5 text-success" th:text="${comic.dat}"></p>
                            </div>
                        </div>

                        <!-- Botón abajo -->
                        <div class="d-grid gap-3 mt-auto">
                            <button class="btn btn-lg btn-primary py-3" data-bs-toggle="modal" data-bs-target="#addCart">
                                <i class="bi bi-cart-plus me-2"></i>Añadir a la cesta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal de eliminar cómic -->
    <div class="modal fade" id="deleteComic" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <form th:action="@{/ck/comic/delete/{id}(id=${comic.id})}" method="POST">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title">Eliminar cómic</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body text-center">
                        <p>¿Estás seguro de que deseas eliminar este cómic?</p>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-danger w-100">Sí</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Modal modificar Comic -->
    <div class="modal fade" id="modComicModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title"><i class="bi bi-book me-2"></i>Editar Cómic</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST" th:action="@{/ck/comic/edit/{id}(id=${comic.id})}" th:object="${comicDTO}" class="needs-validation">
                    <div class="modal-body">
                        <div class="row g-3">
                            
                            <div class="col-md-6">
                                <label class="form-label fw-semibold">Título <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" th:field="*{name}" required maxlength="100" pattern=".{3,}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-semibold">Editorial <span class="text-danger">*</span></label>
                                <select class="form-select" th:field="*{category_id}" required>
                                    <option value="" selected>Seleccionar...</option>
                                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label fw-semibold">Precio (€) <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">€</span>
                                    <input type="number" step="0.01" class="form-control" th:field="*{price}" required min="0" max="999.99">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label fw-semibold">Páginas <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" th:field="*{pages}" required  min="1" max="9999">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label fw-semibold">Fecha Publicación <span class="text-danger">*</span></label>
                                <input type="date" class="form-control" th:field="*{dat}" required  max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                            </div>
                            <div class="col-12">
                                    <label class="form-label fw-semibold">Texto alternativo de la imagen <span class="text-danger">*</span></label>
                                    <textarea class="form-control"  th:field="*{textImg}" rows="3" required  minlength="10" maxlength="255"></textarea>
                            </div>
                            <div class="col-12">
                                <label class="form-label fw-semibold">Sinopsis <span class="text-danger">*</span></label>
                                <textarea class="form-control" th:field="*{syn}" rows="3" required  minlength="10" maxlength="255"></textarea>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fw-semibold">URL Imagen <span class="text-danger">*</span></label>
                                <input type="url" class="form-control" th:field="*{url}" required pattern="https?://.+" title="Por favor, introduce una URL válida.">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">Valoración <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="number" step="0.1" class="form-control" th:field="*{review}" min="0" max="5" required>
                                    <span class="input-group-text">/5</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">Unidades Vendidas</label>
                                <input type="number" class="form-control" th:field="*{sales}" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Editar Cómic</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal de producto añadido -->
    <div class="modal fade" id="addCart" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title">¡Éxito!</h5>
                    <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>-->
                </div>
                <div class="modal-body">
                    <p>Producto añadido a la cesta 🛒</p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <form th:action="@{/ck/cart/add/{id}(id=${comic.id})}" method="GET">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Seguir comprando</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>