<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragments="header">
        <img class="w-100 portada" style="height: 250px;" th:src="@{/img/banner_comikazos.png}" alt="Comikazos!">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a th:href="@{/ck}" class="navbar-brand">COMIKAZOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="">Catálogo</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Mejores valorados</a></li>
                        <li class="nav-item"><a class="nav-link" href="">DC</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Marvel</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Independiente</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>