
.carousel-img {
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
}
.portadaImagen{
            max-height: 70vh; 
            object-fit: contain;
        }

.cardImg{
    height: 300px;
}

.card{
    overflow: hidden;
}

.card-img-top{
        transition: transform 0.3s ease;
    }

.card:hover .card-img-top{
        transform: scale(1.05);
    }